<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data" layout:decorate="~{layout/main}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE">Agent 관리 - 추가 등록 / 변경</title>
<script src="/ace-builds-master/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/ace-builds-master/src-noconflict/mode-java.js" type="text/javascript" charset="utf-8"></script>

</head>
<body>
  <div class="container" layout:fragment="content">
    <h3 class="content__title">Agent 상세설정</h3>

    <form id="agent_info" onSubmit="return false;">
      <fieldset>
        <legend>Agent 추가 등록/변경</legend>
        <section class="section">
          <div class="section__header">
            <h4 class="section__title">Agent 추가 등록/변경</h4>
          </div>
          <div class="section__content">
            <table class="table--column" id="agentInfo">
              <caption>테이블 제목</caption>
              <colgroup>
                <col style="width: 150px">
                <col style="width: auto">
                <col style="width: 150px">
                <col style="width: auto">
              </colgroup>
              <tbody>
                <tr>
                  <th>Agent ID</th>
                  <td label="Agent ID"><input id="agent_id" name="agent_id" type="text" class="input__text" length="10" required></td>
                  <th>Agent 명</th>
                  <td label="Agent 명"><input id="agent_nm" name="agent_nm" type="text" class="input__text" required></td>
                </tr>

                <tr>
                  <th>사용여부</th>
                  <td class="ta-l" colspan="3"><label class="사용여부"><input type="radio" name="use_yn" class="input__radio" value="Y" checked="checked">사용</label> <label class="사용여부"><input
                      type="radio" name="use_yn" class="input__radio" value="N">사용안함</label></td>
                </tr>
                <tr>
                  <th>비고</th>
                  <td colspan="3"><textarea class="textarea" id="etc_note" name="etc_note"></textarea></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="button__group">
            <button class="button__primary" type="button" onclick="location.href = '/agentList'" onfocus="this.blur()">목록</button>
            <button class="button__primary" type="submit" id="btn-save" onfocus="this.blur()">저장</button>
          </div>
        </section>
      </fieldset>
    </form>

<script th:inline="javascript">
  /* <![CDATA[ */
  var id = /*[[${id}]]*/'';
  /* ]]> */

  var idchk = 0;
  $(document).ready(function() {
  });

  function yn(val) {
    var rtn = "";
    switch (val) {
    case "Y":
      rtn = "사용";
      break;
    case "N":
      rtn = "미사용";
      break;
    }
    return rtn;
  }
  
  
  $("#btn-save").click(function(event) {
    var pRow = new RowData($("#agentInfo > tbody"));
    var size = pRow.getValue("agent_id").length;

    const regExp = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/;
    const reguni = /[`~!@#$%^&*|\\\'\";:\/?]/gi
    const regEngNum =  /^[A-Za-z0-9]+$/
    
    if (size > 10) {
      alert("id의 길이가 맞지 않습니다.(10자 이하)")
      $("#btn-save").prop("disabled", false);
      return;
    } else if (!regEngNum.test(pRow.getValue("agent_id")) ) {
      alert("id에 사용할 수 없는 문자가 포함되어 있습니다.\n(영문자와 숫자만 가능합니다.)");
      $("#btn-save").prop("disabled", false);
      return;
    }
    
    if (validation("agent_info")) {
      if (confirm("저장하시겠습니까?")) {
        $('#loading').show(); 
        event.preventDefault();
        var pRow = new RowData($("#agentInfo > tbody"));
        var param2 = "/agentsIsExist/" + pRow.getValue("agent_id");
        cmUtl.exeAjax("GET", param2, null, "id_isExist");
      }
    }
  });

  function id_isExist(data) {
    if (data) {
      alert("이미 등록된 ID가 있습니다.");
      $('#loading').hide(); 
      return;
    } else {
      agent_save();
    }
  }

  function agent_save() {

    $("#btn-save").prop("disabled", true);

    var param = "/agents";
    var pRow = new RowData($("#agentInfo > tbody"));
    var size = pRow.getValue("agent_id").length;

    var data = {
      "agent_id" : pRow.getValue("agent_id"),
      "agent_nm" : pRow.getValue("agent_nm"),
      "ip_addr" : "localhost",
      "port_number" : Number("8888"),
      "use_yn" : pRow.getValue("use_yn"),
      "etc_note" : pRow.getValue("etc_note"),
    };
    var type = "POST";

    if (id != "" && id != null) {
      type = "PUT";
      param += "/" + pRow.getValue("agent_id");
    }
    cmUtl.exeAjax(type, param, JSON.stringify(data), "_cbAfterAgentSave");
  
  }

  function _cbAfterAgentSave() {
    $("#btn-save").prop("disabled", false);
    alert("저장되었습니다.");
    $('#loading').hide(); 
    location.replace('/agentDetail/' + $("#agent_id").val());
  }


</script>
    <!-- script -->
    <script>
          setNavi("Agent 관리```/agentList/", "Agent 설정```/agentList/", "Agent 상세");
        </script>
    <!-- //script -->
  </div>
</body>
</html>