<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data" layout:decorator="layout/main" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE">모니터링</title>
    <script> 
    $(function(){
      $("#includedContent").load("/concept/dashboard-sales.html"); 
    });
    </script> 
</head>
<body style="overflow-x:hidden; overflow-y:auto;">
  <div class="container" id="includedContent" layout:fragment="content">
  </div>
</body>
</html>
