<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data" layout:decorate="~{layout/main}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE">2단계 - 표준 데이터모델 선택</title>
</head>

<div class="container" layout:fragment="content">
  <h3 class="content__title">2/3 단계 - 표준 데이터모델 선택</h3>

  <form>
    <fieldset>
      <legend>데이터모델 변환</legend>
      <section class="section">
        <div class="section__header">
          <h4 class="section__title">데이터모델 변환 기본 정보</h4>
        </div>
        <div class="section__content">
          <table class="table--column" id="dataModelTopInfo">
            <caption>테이블 제목</caption>
            <colgroup>
              <col style="width: 200px">
              <col style="width: 200px">
              <col style="width: 200px">
              <col style="width: 200px">
            </colgroup>
            <thead>
              <tr>
                <th>Instance ID</th>
                <th>Instance 명</th>
                <th>원천 데이터 모델</th>
                <th>표준 데이터 모델</th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
      </section>
    </fieldset>
  </form>

  <br>

  <div style="font-size: 12px; color: #999; border: 1px #555; background-color: #fff; width: 150px; height: 36px; line-height: 36px; text-align: center; display: inline-block">원천 데이터 모델 선택</div>
  <div style="font-size: 12px; color: #fff; border: 1px #ddd; background-color: #0996a5; width: 150px; height: 36px; line-height: 36px; text-align: center; display: inline-block">표준 데이터 모델 선택</div>
  <div style="font-size: 12px; color: #999; border: 1px #555; background-color: #fff; width: 150px; height: 36px; line-height: 36px; text-align: center; display: inline-block">변환 클래스 작성</div>

  <div style="border: 1px solid #ddd; padding-right: 5px; padding-left: 5px; padding-bottom: 10px">

    <form>
      <fieldset>
        <legend>필드셋 제목</legend>
        <section class="section">
          <div class="section__header">
            <h4 class="section__title">표준 데이터모델 검색</h4>
          </div>
          <div class="section__content">
            <table class="table--column">
              <caption>테이블 제목</caption>
              <colgroup>
                <col style="width: 150px">
                <col style="width: auto">
                <col style="width: 150px">
                <col style="width: auto">
              </colgroup>
              <tbody>
                <tr>
                  <th>제목</th>
                  <td colspan="3"><input class="input__text" type="text" id="search_datamodel_nm" placeholder="검색어를 입력하세요."></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="button__group">
            <button class="button__primary" type="button" onclick="javascript:stSearch();">검색</button>
          </div>
        </section>
      </fieldset>
    </form>

    <form>
      <fieldset>
        <legend>필드셋 제목</legend>
        <section class="section">
          <div class="section__header">
            <h4 class="section__title">표준 데이터모델 검색 결과</h4>
          </div>
          <div class="section__content">
            <table class="table--column" id="tableMain">
              <caption>테이블 제목</caption>
              <colgroup>
                <col style="width: 50px">
                <col style="width: 50px">
                <col style="width: auto">
                <col style="width: 350px">
                <col style="width: 200px">
                <col style="width: 100px">
              </colgroup>
              <thead>
                <tr>
                  <th>선택</th>
                  <th>순번</th>
                  <th>표준 Model ID</th>
                  <th>표준 Model 명</th>
                  <th>등록일</th>
                  <th>사용여부</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </section>
      </fieldset>
    </form>

    <div class="button__group">
      <button class="button__outline w-140" type="button" onclick="javascript:fn_saveNext();" style="background-color: white">저장하고 다음단계로</button>
      <button class="button__outline w-94" type="button" onclick="javascript:fn_goNext();">다음단계로</button>
    </div>

  </div>

  <script type="text/javascript" th:inline="javascript">
  /*<![CDATA[*/
  var insId = /*[[ ${insId} ]]*/'';
  var datamodel_tf_id = "";
  var cur_ob_datamodel_id = "null";
  var cur_st_datamodel_id = "null";
  var id = /*[[ ${id} ]]*/'';
  /*]]>*/
  
  $(document).ready(function() {
    dataModel_info();
  });

  function dataModel_info() {
    var url = "/conv/" + insId + "/dataModel_Topinfo";
    cmUtl.exeAjax("GET", url, null, "_cbAfterdataModel_info");
  }

  function _cbAfterdataModel_info(data) {
    var agentUrl = "/agentDetail/" + data.agent_id;
    var adapterUrl = "/instanceDetail/" + data.adapter_id;
    setNavi("Agent 관리```/agentList/", "Agent 목록```/agentList/", "Agent 상세```" + agentUrl, "Instance 관리```" + adapterUrl, "데이터모델 변환 관리");

    var str_ob_datamodel = "";
    var str_st_datamodel = "";

    if (data.ob_datamodel_id != null && data.ob_datamodel_id != "") {
      str_ob_datamodel = ' (' + data.ob_datamodel_id + ')';
      cur_ob_datamodel_id = data.ob_datamodel_id;
    }
    if (data.st_datamodel_id != null && data.st_datamodel_id != "") {
      str_st_datamodel = ' (' + data.st_datamodel_id + ')';
      cur_st_datamodel_id = data.st_datamodel_id;
    }

    var html = '';
    html += '<tr>';
    html += '<td>' + data.instance_id + '</td>';
    html += '<td>' + data.instance_nm + '</td>';
    html += '<td>' + data.ob_datamodel_nm + str_ob_datamodel + '</td>';
    html += '<td>' + data.st_datamodel_nm + str_st_datamodel + '</td>';
    html += '</tr>';
    $("#dataModelTopInfo > tbody").append(html);

    datamodel_tf_id = data.datamodel_tf_id;

    $("#tableMain").procEmptyLine(); // 검색 된 데이터가 없을 경우
  }

  function stSearch() {
    var param = "/searchStModel"
    var data2 = {
      "search_datamodel_nm" : $('#search_datamodel_nm').val()
    };

    cmUtl.exeAjax("POST", param, JSON.stringify(data2), "_cbAfterstSearch");
  }

  function _cbAfterstSearch(data) {

    for (var i = 0; i < data.length; i++) {
      var row = "<tr class='keyValueClass' id='row"+i+"'>";
      row += '<td><input class="input__checkbox" id="check' + i + '" type="checkbox" onclick="fn_chgChk(this)" name="user_CheckBox"><label class="label__checkbox" for="check'+i+'"></label></td>';
      row += "<td>" + (i + 1) + "</td>";
      row += "<td>" + data[i].stId + "<input type='hidden' name='ob_datamodel_id' value='"+data[i].ob_datamodel_id+"'></td>";
      row += "<td>" + data[i].stNm + "</td>";
      row += "<td>" + data[i].creationTime + "</td>";
      row += "<td>" + yn(data[i].useYn) + "</td>";
      row += "</tr>";

      $("#tableMain > tbody").append(row);
    }
    $("#tableMain").procEmptyLine(); // 검색 된 데이터가 없을 경우
  }

  function yn(val) {
    var rtn = "";
    switch (val) {
    case "Y":
      rtn = "사용";
      break;
    case "N":
      rtn = "미사용";
      break;
    }
    return rtn;
  }

  function fn_chgChk(obj) {
    $(".input__checkbox").prop("checked", false);
    $(obj).prop("checked", true);
  }

  function fn_goNext() {
    location.href = "/conv/dataConvert_04/" + id + "/" + insId + "/"
  }

  function fn_saveNext() {
    var st_datamodel_id = "null";
    var rowData = new Array();
    var tdArr = new Array();
    var checkbox = $("input[name=user_CheckBox]:checked");
    // 체크된 체크박스 값을 가져온다
    checkbox.each(function(i) {
      // checkbox.parent() : checkbox의 부모는 <td>이다.
      // checkbox.parent().parent() : <td>의 부모이므로 <tr>이다.
      var tr = checkbox.parent().parent().eq(i);
      var td = tr.children();

      // td.eq(0)은 체크박스 이므로  td.eq(2)의 값.
      st_datamodel_id = td.eq(2).text();
    });

    var param = "/conv/" + datamodel_tf_id + "/" + cur_ob_datamodel_id + "/" + st_datamodel_id + "/convInfo";

    cmUtl.exeAjax("GET", param, "", "");
    location.href = "/conv/dataConvert_04/" + id + "/" + insId + "/"
  }
    </script>

</div>
</html>

