<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data" layout:decorate="~{layout/main}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE">데이터 허브 ID 관리 - 상세</title>
</head>
<body>

  <div class="container" layout:fragment="content">
    <h3 class="content__title">데이터 허브 ID 관리</h3>

    <form>
      <fieldset>
        <legend>필드셋 제목</legend>
        <section class="section">
          <div class="section__header">
            <h4 class="section__title">데이터 허브 ID</h4>
          </div>

          <div class="section__content" id="commMaster">
            <table class="table--column" id="commParent">
              <caption>테이블 제목</caption>
              <colgroup>
                <col style="width: 70px">
                <col style="width: 300px">
              </colgroup>
              <thead>
                <tr>
                  <th>데이터 허브 ID 명</th>
                  <th><input name="code_type_nm" type="text" class="input__text" th:value="*{id}" readonly></th>
                </tr>
              </thead>
            </table>
          </div>

          <div class="button__group">
            <button class="button__primary" type="button" onclick="location.href = '/gs1List'" onfocus="this.blur()">목록</button>
          </div>
        </section>
      </fieldset>
    </form>

    <form>
      <fieldset>
        <legend>필드셋 제목</legend>
        <section class="section">
          <div class="section__header">
            <h4 class="section__title">상세</h4>
          </div>

          <div class="section__content" id="gs1Master">
            <input name="wholetype" type="hidden" th:value="*{id}">
            <table class="table--column" id="gs1Parent">
              <caption>테이블 제목</caption>
              <colgroup>
                <col style="width: 70px">
                <col style="width: 150px">
                <col style="width: auto">
                <col style="width: 100px">
              </colgroup>
              <thead>
                <tr>
                  <th>선택</th>
                  <th>코드</th>
                  <th>코드명</th>
                  <th>사용 여부</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>

          <div class="button__group">
            <button class="button__util button__util--add material-icons" id="plus" onclick="gs1AddRow(this)" onfocus="this.blur()" type="button">추가</button>
            <button class="button__primary" type="submit" id="btn-save" onfocus="this.blur()">저장</button>
            <button class="button__primary" type="button" id="btn-delete" onclick="delrow()" onfocus="this.blur()">삭제</button>
          </div>

          <div id="gs1TypeRow" style="display: none">
            <table>
              <tr>
                <td>신규 추가</td>
                <td label="type"><input name="type" type="hidden" th:value="*{id}"></td>
                <td label="코드"><input name="code" type="text" maxlength="3" required></td>
                <td label="코드명"><input name="codename" type="text" class="input__text" maxlength="200" required></td>
                <td label="사용 여부"><select class="select select--full" name="use_yn" required>
                    <option value="Y">사용</option>
                    <option value="N">미사용</option>
                </select>
              </tr>
            </table>
          </div>

        </section>
      </fieldset>
    </form>

    <script>
          setNavi("데이터 허브 ID```/gs1List/", "데이터 허브 ID 관리```/gs1List/", "데이터 허브 ID 상세");
        </script>

    <script th:inline="javascript">
  var isCodeMod = false;
  var isTypeMode = true;

  $(document).ready(function() {
    gs1DataList();

    $("#btn-save").click(function(event) {
      if (!isCodeMod) {
        if (validation("gs1Master")) {
          if (confirm("저장하시겠습니까?")) {
            event.preventDefault();
            gs1TypeSave();
          }
        }
      } else {
        if (confirm("공통코드항목에 수정된 데이터가 있습니다.\n저장하지 않은 데이터는 초기화됩니다.\n진행 하시겠습니까?")) {
          event.preventDefault();
          gs1TypeSave();
        }
      }
    });
  });

  function gs1TypeSave() {
    $("#btn-save").prop("disabled", true);
    var param = "/gs1TypeSave";
    var gs1_type_length = $("#gs1Parent").getLength();
    var gs1_type_data = new Array();
    if (gs1_type_length > 0) {
      for (var i = 0; i < gs1_type_length; i++) {
        item = $("#gs1Parent").getRow(i);
        var gs1RowData = new Object();
        gs1RowData.gs_code = $("#gs1Master").find("input[name=wholetype]").val();
        gs1RowData.g_code = item.find("input[name=code]").val();
        gs1RowData.g_code_nm = item.find("input[name=codename]").val();
        gs1RowData.use_yn = item.find("select[name=use_yn]").val();

        gs1_type_data.push(gs1RowData);
      }
    }

    var data = {
      "gs1_type_data" : gs1_type_data
    };

    cmUtl.exeAjax("POST", param, JSON.stringify(data), "_cbAfterAdtTypeSave");
  }

  function _cbAfterAdtTypeSave(data) {
    alert("저장되었습니다.");
    $("#btn-save").prop("disabled", false);
    var link = document.location.href;
    location.replace(link);
  }

  function gs1AddRow() {
    var html = '<tr>';
    html += '<td><input type="checkbox" name="check"></td>';
    html += '<td label="코드"><input name="code" type="text" required></td>';
    html += '<td label="코드명"><input name="codename" type="text" class="input__text" maxlength="200" required></td>';
    html += '<td label="사용 여부"><select class="select select--full" name="use_yn" required>';
    html += '<option value="Y">사용</option>';
    html += '<option value="N">미사용</option>';
    html += '</select>';
    html += '<input name="type" type="hidden" th:value="*{id}">';
    html += '</tr>';

    $('#gs1Parent').appendBody(html);
  }

  function gs1DataList() {
    var url = "/gs1DetailData/" + $("#gs1Master").find("input[name=wholetype]").val();
    cmUtl.exeAjax("GET", url, null, "_cbAftercommDataList");
  }

  function _cbAftercommDataList(data) {
    if (data.length == 0) {
      cmUtl.showEmptyLine('gs1Parent', true);
    }

    for (var i = 0; i < data.length; i++) {
      var html = '<tr>';

      html += '<td></td>'
      html += '<td><input name = "code" type="hidden" value="'+data[i].g_code+'">' + data[i].g_code + '</td>';
      html += '<td><input class="input__text" name="codename" type="text" value="'+data[i].g_code_nm+'"></td>';
      html += '<td label="사용여부"><select class="select select--full" name="use_yn" required><option value ="Y">사용</option><option value ="N">미사용</option></select></td>';
      html += '<input name="type" type="hidden" th:value="*{id}">';
      html += '</tr>';

      $('#gs1Parent').appendBody(html);

      $("#gs1Parent").getRow(i).find("select[name='use_yn']").val(data[i].use_yn).prop("selected", true);
    }
  }

  function delrow() {

    var gs1_type_length = $("#gs1Parent").getLength();
    if (gs1_type_length > 0) {
      for (var i = gs1_type_length - 1; i >= 0; i--) {
        item = $("#gs1Parent").getRow(i);
        if (item.find("input[name=check]").prop("checked") == true) {
          item.remove();
        }
      }
    }
  }
        </script>
  </div>
</body>
</html>