<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data" layout:decorate="~{layout/popup}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE">모니터링</title>
<style type="text/css">
.console {
  background-color: white;
  color: black;
  font-size: 15px;
}
</style>
</head>
<body>
  <div class="container" layout:fragment="content">

    <div class="modal__header">
      <h4 class="modal__title">팝업창제목</h4>
      <button class="modal__button--close button__modal--close" type="button">
        <span class="hidden">닫기</span>
      </button>
    </div>
    <div class="modal__body">
      <div class="section">


        <!-- 내용  -->
        <div class="section__header">
          <h4 class="section__title">
            [ <span id="select_adapter_id"></span> ]&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;<span id="console" style="color: red"></span>
          </h4>
          <div class="button__group">
            <button id="startDaemon" class="button__outline w-94" type="button">어댑터 시작</button>
            <button id="stopDaemon" class="button__outline w-94" type="button">어댑터 종료</button>
            <button id="restartDaemon" class="button__outline w-94" type="button">어댑터 재시작</button>


            <button id="startTail" class="button__outline w-94" type="button">로그 시작</button>
            <button id="stopTail" class="button__outline w-94" type="button">로그 중지</button>
            <button id="clearTail" class="button__outline w-68" type="button">clear</button>

          </div>
        </div>

        <div class="section__content">
          <table class="table--column table--view">
            <caption>테이블 제목</caption>
            <colgroup>
              <col style="width: 100%">
            </colgroup>
            <thead>
            </thead>
            <tbody>
              <tr>
                <td><textarea style="width: 100%; min-height: 200px; background-color: white; color: black" readonly class="console textarea" id="tailConsole"></textarea></td>
              </tr>
            </tbody>
          </table>
        </div>


        <!-- // 내용  -->

      </div>
    </div>
    <div class="modal__footer">
      <!-- <button class="button__primary" type="button">검색</button> -->
      <button class="button__secondary button__modal--close" type="button">닫기</button>
    </div>

<script th:inline="javascript">
  /* <![CDATA[ */
  var select_adapter_id = /*[[ ${adapter_id} ]]*/'';
  var select_status = /*[[ ${status} ]]*/'';
  /* ]]> */

  var endPoint = 0;
  var tailFlag = false;
  var tailConsoleLog;
  var logtimer;

  function _cbPopAfterStatus(data) {
    if (data.hasOwnProperty("result")) {
      var result = JSON.parse(data.result);
      $('#console').html(result.status);
    }
    if (data.hasOwnProperty("status")) {
      $('#console').html(data.status);
    }
  }

  function resizeContents() {
    if ($(window).height() > 800) {
      $("#tailConsole").css("height", "600px");
    } else {
      $("#tailConsole").css("height", $(window).height() - 400);
    }
  }

  $(document).ready(function() {
    $(window).resize(resizeContents);
    resizeContents();

    var param = {
      "id" : select_adapter_id
    };
    cmUtl.exeAjax("POST", "/agent/status", JSON.stringify(param), "_cbPopAfterStatus");

    $(".button__modal--close").click(function(data) {
      $("#divLayerPopup").empty();
      clearTimeout(logtimer);
      if (_cbFunc != "") {
        try {
          eval(_cbFunc + "(data)");
        } catch (e) {
        }
      }
    });

    $('#select_adapter_id').html(select_adapter_id);
    tailConsoleLog = $('#tailConsole');

    if (select_status == "stop") {
      $("#startDaemon").show();
      $("#stopDaemon").hide();
      $("#restartDaemon").hide();
    } else if (select_status == "running") {
      $("#startDaemon").hide();
      $("#stopDaemon").show();
      $("#restartDaemon").show();
    }

    $('#startDaemon').on('click', function() {
      var form = {
        "id" : select_adapter_id
      };
      cmUtl.exeAjax("POST", "/agent/start", JSON.stringify(form), "_cbPopAfterStatus");
      $("#startDaemon").hide();
      $("#stopDaemon").show();
      $("#restartDaemon").show();
    });
    $('#stopDaemon').on('click', function() {
      var form = {
        "id" : select_adapter_id
      };
      cmUtl.exeAjax("POST", "/agent/stop", JSON.stringify(form), "_cbPopAfterStatus");

      $("#startDaemon").show();
      $("#stopDaemon").hide();
      $("#restartDaemon").hide();
    });

    $('#restartDaemon').on('click', function() {
      var form = {
        "id" : select_adapter_id
      };
      cmUtl.exeAjax("POST", "/agent/restart", JSON.stringify(form), "_cbPopAfterStatus");
    });

    $('#startTail').on('click', function() {
      tailFlag = true;
      startTail();
      $('#startTail').hide();
      $('#stopTail').show();
    });
    $('#stopTail').on('click', function() {
      tailFlag = false;

      $('#startTail').show();
      $('#stopTail').hide();
    });
    $('#clearTail').on('click', function() {
      tailConsoleLog.val("");
      tailConsoleLog.scrollTop(tailConsoleLog.prop('scrollHeight'));
    });

    $("#startTail").trigger("click");

  });

  function startTail() {
    var form = {
      "preEndPoint" : endPoint,
      "sourceName" : select_adapter_id
    };
    if (tailFlag) {
      cmUtl.exeAjax("POST", "/agents/" + select_adapter_id + "/adaptors/" + select_adapter_id + "/logs", JSON.stringify(form), "_cbPopAfterTail");
    }
  }

  function _cbPopAfterTail(data) {
    endPoint = data.endPoint == false ? 0 : data.endPoint;
    logdata = decodeURIComponent(data.log);
    tailConsoleLog.val(tailConsoleLog.val() + logdata);
    tailConsoleLog.scrollTop(tailConsoleLog.prop('scrollHeight'));
    logtimer = setTimeout(startTail, 2500);
  }
</script>


  </div>
</body>
</html>
