<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" monitorInterval="30">
	<Properties>
		<Property name="logDir">../logs</Property>
		<Property name="logPath">${logDir}/web.log</Property>
		<Property name="logRollingPath">${logDir}/web_%d{yyyyMMdd}.log</Property>
		<Property name="logRollingInterval">1</Property>

		<Property name="errorDataLogDir">${logDir}/error</Property>
		<Property name="errorDataLogPath">${errorDataLogDir}/web-error.log</Property>
		<Property name="errorDataLogRollingPath">${errorDataLogDir}/web-error_%d{yyyyMMdd}.log</Property>
		<Property name="errorDataLogRollingInterval">1</Property>
	</Properties>

	<Appenders>
		<Console name="STDOUT">
			<PatternLayout pattern="%d [%p] %m%n" />
		</Console>

		<RollingFile name="rollingFile" fileName="${logPath}" filePattern="${logRollingPath}">
			<PatternLayout pattern="%d [%p] %m%n"/>
			<TimeBasedTriggeringPolicy interval="${logRollingInterval}"/>
		</RollingFile>

		<RollingFile name="errorDataRollingFile" fileName="${errorDataLogPath}" filePattern="${errorDataLogRollingPath}">
			<PatternLayout pattern="%d [%p] %m%n"/>
			<TimeBasedTriggeringPolicy interval="${errorDataLogRollingInterval}"/>
	      	<DefaultRolloverStrategy>
        		<Delete basePath="${errorDataLogDir}" maxDepth="1">
        			<IfFileName glob="*.log"/>
          			<IfLastModified age="30d"/>
        		</Delete>
      		</DefaultRolloverStrategy>
		</RollingFile>
	</Appenders>

	<Loggers>
		<Root level="info" >
      <AppenderRef ref="rollingFile" />
      <AppenderRef ref="STDOUT" />
    </Root>
    
        
    <Logger name="jdbc.sqlonly" level="debug" additivity="true">
      <AppenderRef ref="rollingFile" />
      <AppenderRef ref="STDOUT" />
    </Logger>
    
    <Logger name="com.cityhub" level="debug" additivity="false">
      <AppenderRef ref="rollingFile" />
      <AppenderRef ref="STDOUT" />
    </Logger>

	</Loggers>

</Configuration>