{
  "@context": [
    "http://uri.etsi.org/ngsi-ld/core-context.jsonld",
    "http://datahub.kr/watersihwavalue.jsonld"
  ],
  "id": "8800000000000000000",
  "type": "WaterSihwaValue",
  "location": {
    "type": "GeoProperty",
    "value": {
      "type": "Point",
      "coordinates": [
        127.1293735,
        37.4114423
      ]
    }
  },
  "lakeRwl": {
    "type": "Property",
    "value": "0.0"
  },
  "seaRwl": {
    "type": "Property",
    "value": "0.0"
  }
}
