@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800 &subset=korean");
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url("../font/material-icon.woff") format("woff"), url("../font/material-icon.woff2") format("woff2")
}
.material-icons:before {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -ms-font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga'
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
blockquote,
body,
button,
code,
div,
dl,
dt,
dd,
fieldset,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
pre,
select,
textarea,
th,
td,
ul {
    margin: 0;
    padding: 0
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}
a {
    color: inherit
}
a:active,
a:focus,
a:hover,
a:link {
    text-decoration: none
}
address,
cite,
code,
em,
i {
    font-weight: normal;
    font-style: normal
}
body {
    height: 100%;
    background-color: #f6f6f6;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%
}
body,
button,
input,
select,
textarea,
th,
td {
    font-weight: normal;
    font-size: 100%;
    font-family: "Nanum Gothic", sans-serif;
    line-height: 1.5
}
button,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}
button,
select {
    cursor: pointer
}
button {
    border: 0;
    background: none;
    vertical-align: middle
}
caption,
legend {
    position: absolute;
    top: -9999px;
    clip: rect(0 0 0 0);
    visibility: hidden
}
dl,
menu,
ol,
ul,
li {
    list-style: none
}
input,
select,
textarea {
    vertical-align: middle
}
input:focus,
button:focus,
textarea:focus {
    outline: none
}
input:-ms-clear {
    display: none
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 100%
}
hr {
    display: none
}
html {
    overflow-y: scroll;
    height: 100%;
    min-width: 1260px
}
fieldset {
    border: 0
}
img {
    border: 0;
    vertical-align: middle
}
label {
    cursor: pointer
}
table {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%
}
textarea {
    resize: none
}
strong {
    font-style: normal
}
::-webkit-input-placeholder {
    color: #ddd
}
:-ms-input-placeholder {
    color: #ddd
}
::-ms-input-placeholder {
    color: #ddd
}
::placeholder {
    color: #ddd
}
.skip {
    position: absolute;
    top: 0;
    left: 0
}
.skip__link {
    position: absolute;
    top: -10000px;
    left: 0;
    z-index: 10000;
    padding: 10px;
    background: #333;
    font-size: 12px;
    color: #fff;
    text-align: center
}
.skip__link:active,
.skip__link:focus {
    position: relative;
    left: 0;
    z-index: 1000;
    padding: 10px;
    border: 1px dotted #ffb4db
}
.hidden {
    position: absolute;
    top: -9999px;
    clip: rect(0 0 0 0);
    visibility: hidden
}
.clearfix:after {
    content: '';
    display: block;
    clear: both
}
.ta-l {
    text-align: left !important
}
.ta-c {
    text-align: center !important
}
.ta-r {
    text-align: right !important
}
.va-t {
    vertical-align: top !important
}
.va-m {
    vertical-align: middle !important
}
.va-b {
    vertical-align: bottom !important
}
.bd-0 {
    border-bottom-width: 0 !important
}
.ml-0 {
    margin-left: 0 !important
}
.ml-4 {
    margin-left: 4px !important
}
.w-half {
    width: 50% !important
}
.w-quarter {
    width: 25% !important
}
.w-68 {
    width: 68px !important
}
.w-94 {
    width: 94px !important
}
.w-1000 {
    width: 1000px !important
}
.w-with-68 {
    width: calc(100% - 72px) !important
}
.w-with-94 {
    width: calc(100% - 98px) !important
}
.c-primary {
    color: #0996a5
}
.aside {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    width: 250px;
    height: 100%;
    min-height: 100vh;
    background-color: #383e48;
    -webkit-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out
}
.aside__header {
    height: 50px;
    background-color: #0996a5
}
.aside__logo {
    padding: 12px 0 13px 12px
}
.aside__logo a {
    display: block;
    width: 164px;
    height: 25px;
    background: url("../img/sprite/sp_com.png") rgba(0, 0, 0, 0) 0 0 no-repeat
}
.aside__content {
    background-color: #383e48
}
.aside__user {
    position: relative;
    height: 60px;
    padding: 16px 0 0 60px;
    border-top: 1px solid #126873;
    background-color: #0e6d77;
    font-size: 12px;
    color: #00a19c
}
.aside__user:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 12px;
    margin-top: -18px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background: url("../img/sprite/sp_com.png") #00a19c 0 -35px no-repeat
}
.aside__user-message {
    width: 190px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s
}
.aside__user-message--strong {
    display: block;
    margin-top: -4px;
    font-size: 14px;
    line-height: 1.3;
    color: #fff
}
.nav__depth1--active {
    background-color: #2c3441;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out
}
.nav:after {
    content: '';
    display: block;
    width: calc(100% - 56px);
    height: 2px;
    margin: 50px auto 0;
    border-top: 1px solid #1a2d33;
    border-bottom: 1px solid #4e676d
}
.nav__depth1 {
    position: relative;
    min-height: 40px;
    opacity: 1;
    cursor: pointer
}
.nav__depth1:before {
    content: '';
    position: absolute;
    top: 9px;
    left: 18px;
    z-index: 0;
    color: #bacdd9
}
.nav__depth1:hover {
    background-color: #2c3441
}
.nav__depth1 > .nav__link {
    display: block;
    position: relative;
    width: 250px;
    height: 40px;
    padding-left: 60px;
    font-size: 14px;
    line-height: 40px;
    text-align: left;
    color: #bacdd9;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s
}
.nav__depth1>.nav__link:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: #0996a5;
    opacity: 0;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out
}
.nav__button {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s
}
.nav__button:after {
    content: '';
    position: absolute;
    top: 20px;
    right: 21px;
    width: 6px;
    height: 6px;
    margin-top: -4px;
    border-right: 1.5px solid #bacdd9;
    border-top: 1.5px solid #bacdd9;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transform-origin: center;
    transform-origin: center;
    vertical-align: middle;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out
}
.nav__depth2 {
    display: none;
    position: relative;
    width: 250px;
    padding: 6px 0;
    background-color: #232a36
}
.nav__depth2:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: #0e6d77;
    opacity: 0;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out
}
.nav__depth2 .nav__item {
    padding: 4px 0;
    line-height: 100%
}
.nav__depth2 .nav__link {
    display: block;
    height: 20px;
    padding-left: 60px;
    font-size: 12px;
    line-height: 20px;
    color: #545c67
}
.nav__depth2 .nav__link:hover {
    background-color: transparent;
    color: #0996a5
}
.nav__depth2 .nav__link:hover:before {
    content: none
}
.nav__icon {
    display: block;
    position: relative;
    width: 18px;
    height: 3px;
    border-radius: 3px;
    background-color: #aaa;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out
}
.nav__icon:before,
.nav__icon:after {
    content: '';
    position: absolute;
    left: 0;
    width: 18px;
    height: 3px;
    border-radius: 3px;
    background-color: #aaa;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out
}
.nav__icon:before {
    top: -5px
}
.nav__icon:after {
    bottom: -5px
}
.nav__depth1--active .nav__button:before {
    opacity: 1
}
.nav__depth1--active .nav__button:after {
    border-color: #0996a5;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}
.nav__depth1--active .nav__depth2:before {
    opacity: 1
}
.nav__depth1:nth-of-type(1):before {
    content: "dvr"
}
.nav__depth1:nth-of-type(2):before {
    content: "how_to_reg"
}
.nav__depth1:nth-of-type(3):before {
    content: "settings_ethernet"
}
.nav__depth1:nth-of-type(4):before {
    content: "account_circle"
}
.nav__depth1:nth-of-type(5):before {
    content: "assignment_ind"
}
.nav__depth1:nth-of-type(6):before {
    content: "list_alt"
}
.nav__depth1:nth-of-type(7):before {
    content: "ballot"
}
.nav__depth1:nth-of-type(8):before {
    content: "subtitles"
}
.nav__depth1:nth-of-type(9):before {
    content: "visibility"
}
.nav__depth1:nth-of-type(10):before {
    content: "storage"
}
.nav__depth1:nth-of-type(11):before {
    content: "featured_play_list"
}
.nav__depth1:nth-of-type(12):before {
    content: "add_to_queue"
}
.header {
    position: relative;
    height: 50px;
    margin-bottom: 31px;
    background-color: #fff
}
.header:after {
    content: '';
    position: absolute;
    top: 50px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 31px;
    border-width: 1px 0;
    border-style: solid;
    border-color: #ddd;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ebebeb), to(#fff));
    background: linear-gradient(to top, #ebebeb 0, #fff 100%)
}
.header__user {
    position: relative;
    float: right;
    margin-right: 8px;
    font-size: 12px;
    line-height: 50px;
    color: #555
}
.header__user:before {
    content: '';
    display: inline-block;
    margin-top: -2px;
    margin-right: 4px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: url("../img/sprite/sp_com.png") #00a19c -46px -35px no-repeat;
    vertical-align: middle
}
.header__util {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    min-width: 1010px;
    height: 50px
}
.button__nav--toggle {
    float: left;
    width: 18px;
    height: 15px;
    padding: 15px 28px 18px 10px;
    margin-left: 10px !important;
    background: none;
    line-height: 0
}
.button__nav--toggle:hover .nav__icon:before {
    top: -2px;
    left: -4px;
    width: 9px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}
.button__nav--toggle:hover .nav__icon:after {
    bottom: -2px;
    left: -4px;
    width: 9px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}
.content {
    padding: 16px 8px 0
}
.content__title {
    margin-bottom: -5px;
    font-weight: 600;
    font-size: 16px;
    color: #000
}
.section {
    overflow: hidden;
    position: relative;
    margin-top: 10px;
    border-radius: 3px;
    border: 1px solid #ddd;
    background-color: #fff
}
.button__group+.section {
    margin-top: 40px
}
.section__header {
    height: 37px;
    padding: 0 5px 0 10px;
    border-bottom: 1px solid #ddd
}
.section__title {
    float: left;
    height: 100%;
    font-weight: 600;
    font-size: 14px;
    color: #555;
    line-height: 36px
}
.section__content {
    position: relative
}
.button__group {
    margin: 10px 0 12px;
    text-align: right
}
.section__content+.button__group {
    position: absolute;
    right: 5px;
    top: 4px;
    margin-top: 0
}
.text__total {
    height: 40px;
    padding-left: 10px;
    border-top: 1px solid #eee;
    font-weight: 600;
    font-size: 12px;
    color: #555;
    letter-spacing: -1px;
    line-height: 40px
}
.pagination+.text__total {
    position: absolute;
    left: 10px;
    bottom: 14px;
    height: auto;
    padding-left: 0;
    border-top-width: 0;
    line-height: 1.5
}
.text__notice {
    color: #0996a5
}
.input__text.w-half+.text__notice {
    margin-left: 4px
}
.footer {
    padding-bottom: 11px;
    text-align: right
}
.footer__copyright {
    font-size: 10px;
    color: #5a717f
}
form+.footer,
.button__group+.footer {
    margin-top: -8px
}
.wrap {
    position: relative;
    padding-left: 250px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out
}
.wrap:after {
    content: '';
    display: block;
    clear: both
}
.wrap--wide {
    padding-left: 60px
}
.wrap--wide .aside {
    width: 60px
}
.wrap--wide .aside:after {
    width: 60px
}
.wrap--wide .aside__logo {
    overflow: hidden
}
.wrap--wide .aside__user-message {
    opacity: 0;
    visibility: hidden
}
.wrap--wide .main:after {
    width: calc(100% - 60px)
}
.wrap--wide .button__nav--toggle:hover .nav__icon:before {
    top: -2px;
    left: 12px;
    width: 9px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}
.wrap--wide .button__nav--toggle:hover .nav__icon:after {
    bottom: -2px;
    left: 12px;
    width: 9px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}
.wrap--wide .nav__depth1:hover > .nav__link {
    background-color: #2c3441;
    opacity: 1;
    visibility: visible
}
.wrap--wide .nav__depth1 > .nav__link {
    position: absolute;
    width: 190px;
    padding-left: 30px;
    left: 60px;
    opacity: 0;
    visibility: hidden
}
.wrap--wide .nav__button {
    position: absolute;
    opacity: 0;
    visibility: hidden
}
.wrap--wide .nav__button:before {
    content: none;
    opacity: 0
}
.wrap--wide .nav__button:after {
    opacity: 0;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out
}
.wrap--wide .nav__depth1:hover .nav__button:after {
    opacity: 1
}
.wrap--wide .nav__depth2 {
    display: none;
    position: absolute;
    top: 40px;
    left: 60px;
    width: 190px
}
.wrap--wide .nav__depth2 .nav__link {
    padding-left: 30px
}
.wrap--wide .nav__depth1--active {
    background-color: #2c3441
}
.wrap--wide .nav__depth1--active .nav__button:before {
    left: 0
}
.wrap--wide .nav__depth1--active .nav__depth2 {
    display: block;
    margin-bottom: 40px
}
.wrap--wide .nav__depth1--active .nav__link:before {
    content: '';
    opacity: 1
}
.breadcrumb {
    position: relative;
    font-size: 12px;
    color: #555
}
.breadcrumb__list {
    position: relative;
    padding: 0 15px;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e0e0e0), to(#f9f9f9));
    background: linear-gradient(to top, #e0e0e0 0, #f9f9f9 100%);
    border: 1px solid #d0d0d0;
    border-right-width: 0
}
.breadcrumb__list:after {
    content: '';
    position: absolute;
    top: -1px;
    right: -12px;
    z-index: 10;
    width: 12px;
    height: 31px;
    background: url("../img/sprite/sp_com.png") rgba(0, 0, 0, 0) -117px -35px no-repeat
}
.breadcrumb__list--home {
    display: inline-block
}
.breadcrumb__list--home:before {
    content: '';
    display: inline-block;
    width: 31px;
    height: 31px;
    background: url("../img/sprite/sp_com.png") #aaa -76px -35px no-repeat
}
.breadcrumb__list--current {
    padding: 0 15px 0 25px;
    color: #0996a5
}
[class|=breadcrumb__list] {
    display: inline-block;
    height: 31px;
    line-height: 31px;
    vertical-align: middle
}
.button__primary,
.button__secondary,
.button__outline,
.button__file,
.button__util {
    display: inline-block;
    height: 28px;
    margin-left: 4px;
    border-radius: 3px;
    font-size: 12px;
    line-height: 28px;
    text-align: center;
    vertical-align: middle
}
[class*=button]:not(.button__nav--toggle):first-child {
    margin-left: 0
}
.button__primary {
    width: 80px;
    background-color: #0996a5;
    font-weight: 600;
    color: #fff;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-transition-property: background-color;
    transition-property: background-color
}
.button__primary:hover,
.button__primary:focus {
    background-color: #066a75;
    outline: 0
}
.button__secondary {
    width: 80px;
    background-color: #436468;
    font-weight: 600;
    color: #fff;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-transition-property: background-color;
    transition-property: background-color
}
.button__secondary:hover,
.button__secondary:focus {
    background-color: #2f4649;
    outline: 0
}
.button__outline {
    padding: 0 10px;
    border: 1px solid #0996a5;
    border-radius: 0;
    background-color: #f6f6f6;
    font-weight: 600;
    line-height: 26px;
    color: #0996a5;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-transition-property: background-color;
    transition-property: background-color
}
.button__outline:hover,
.button__outline:focus {
    background-color: #ddd;
    outline: 0
}
.button__login {
    width: 154px;
    height: 45px;
    border-radius: 5px;
    background-color: #0996a5;
    font-weight: 400;
    font-size: 18px;
    line-height: 45px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-transition-property: background-color;
    transition-property: background-color
}
.button__login:hover,
.button__login:focus {
    background-color: #066a75;
    outline: 0
}
.button__file-delete {
    position: absolute;
    right: 0;
    width: 16px;
    height: 16px;
    margin-top: 6px;
    border-radius: 50%;
    background-color: #0996a5;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #fff
}
.button__file-delete:before {
    content: 'close';
    font-size: 10px;
    line-height: 16px;
    vertical-align: 0
}
.button__file {
    float: left;
    width: 68px;
    margin-left: 0;
    padding: 0 10px;
    border: 1px solid #ddd;
    background-color: #f6f6f6;
    font-weight: 400;
    line-height: 26px;
    color: #666;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-transition-property: background-color;
    transition-property: background-color
}
.button__file:hover,
.button__file:focus {
    background-color: #ddd;
    outline: 0
}
.button__util {
    height: 23px;
    padding: 0 6px 0 4px;
    border: 1px solid #0996a5;
    border-radius: 2px;
    color: #0996a5;
    line-height: 21px
}
.button__util {
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out
}
.button__util:before {
    content: '';
    display: inline-block;
    margin-right: 1px;
    font-size: 14px;
    vertical-align: middle
}
.button__util--add:before {
    content: 'add'
}
.button__util--remove:before {
    content: 'remove'
}
.button__util:hover {
    background-color: #0996a5;
    color: #fff
}
.button__util:hover:before {
    color: #fff
}
[type=text],
[type=password],
[type=number],
textarea,
select {
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #555;
    outline: none;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-transition-property: border;
    transition-property: border
}
[type=text]:focus,
[type=password]:focus,
[type=number]:focus,
textarea:focus,
select:focus {
    border-color: #0996a5
}
[type=text]:disabled,
[type=text]:-moz-read-only:not(.input__file-name),
textarea:disabled,
textarea:-moz-read-only {
    border-width: 0;
    border-radius: 2px;
    background-color: #f5f5f5;
    color: #aaa
}
[type=text]:disabled,
[type=text]:read-only:not(.input__file-name),
textarea:disabled,
textarea:read-only {
    border-width: 0;
    border-radius: 2px;
    background-color: #f5f5f5;
    color: #aaa
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}
input[type=number] {
    -moz-appearance: textfield
}
.input__text,
.input__number,
.input__picker {
    width: 100%;
    height: 28px;
    line-height: 26px;
    text-indent: 10px
}
.input__text {
    border-radius: 2px
}
.select+.input__text {
    width: calc(100% - 118px);
    margin-left: 4px
}
.input__number {
    border-radius: 2px;
    width: 90px
}
.input__number-group {
    display: inline-block;
    position: relative;
    width: 25px;
    height: 28px;
    vertical-align: middle
}
.input__number-button {
    position: absolute;
    left: 0;
    width: 100%;
    height: 13px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #f6f6f6;
    text-align: center;
    line-height: 11px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-transition-property: background-color;
    transition-property: background-color
}
.input__number-button:hover,
.input__number-button:focus {
    background-color: #ddd;
    outline: 0
}
.button__number--up {
    top: 0
}
.button__number--up:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    vertical-align: middle;
    border-width: 0 3.5px 3.5px 3.5px;
    border-color: transparent transparent #555 transparent
}
.button__number--down {
    bottom: 0
}
.button__number--down:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    vertical-align: middle;
    border-width: 3.5px 3.5px 0 3.5px;
    border-color: #555 transparent transparent transparent
}
.input__checkbox {
    position: absolute;
    top: -9999px;
    clip: rect(0 0 0 0);
    visibility: hidden
}
.input__checkbox:checked+.label__checkbox:before {
    background-position-y: -94px
}
.input__primary {
    height: 28px;
    line-height: 26px;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #555;
    outline: none;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-transition-property: border;
    transition-property: border
}
.input__primary:focus {
    border-color: #0996a5
}
.input__login {
    width: 350px;
    height: 40px;
    padding-left: 8px;
    font-size: 12px;
    line-height: 38px
}
.input__radio {
    width: 14px;
    height: 14px;
    margin-top: -3px;
    margin-right: 4px;
    border: 1px solid #748691;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 0 3px #fff;
    box-shadow: inset 0 0 0 3px #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out
}
.input__radio:checked {
    border-color: #0996a5;
    background: #0996a5
}
.label__checkbox:before {
    content: '';
    display: inline-block;
    margin-right: 4px;
    vertical-align: -3px;
    width: 14px;
    height: 14px;
    background: url("../img/sprite/sp_section.png") rgba(0, 0, 0, 0) 0 -70px no-repeat
}
.label__checkbox:nth-of-type(n + 2) {
    margin-left: 14px
}
.label__radio {
    margin-left: 14px;
    vertical-align: middle;
    cursor: pointer
}
.label__radio:nth-of-type(1) {
    margin-left: 0
}
.label__picker {
    position: relative
}
.label__picker:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -7px;
    width: 17px;
    height: 17px;
    background: url("../img/sprite/sp_section.png") rgba(0, 0, 0, 0) -77px -70px no-repeat
}
.select {
    width: 114px;
    height: 28px;
    padding: 0 6px;
    border-radius: 2px;
    border: 1px solid #ddd;
    background-color: #f6f6f6;
    line-height: 26px;
    outline: none;
    color: #555
}
.select--full {
    width: 100%
}
.select__full {
    width: 100%
}
.textarea {
    width: 100%;
    height: 70px;
    padding: 6px 10px 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #555
}
.picker__group .input__picker {
    width: calc(50% - 7px)
}
.picker__period {
    display: inline-block;
    width: 14px;
    text-align: center
}
.file__list {
    float: right;
    width: 100%;
    height: 100%
}
.button__file+.file__list {
    width: calc(100% - 76px)
}
.file__item,
.file__item--none {
    position: relative;
    margin-top: 4px;
    border-bottom: 1px solid #eee;
    line-height: 27px
}
.file__item:nth-of-type(1),
.file__item--none:nth-of-type(1) {
    margin-top: 0
}
.file__item--none {
    margin-top: 0;
    color: #aaa
}
.input__file {
    position: absolute;
    top: -9999px;
    clip: rect(0 0 0 0);
    visibility: hidden
}
.icon__require:before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 6px;
    margin-right: 4px;
    background: url("../img/sprite/sp_section.png") rgba(0, 0, 0, 0) -36px -126px no-repeat
}
.icon__file {
    display: block;
    position: relative
}
.icon__file:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 11px;
    height: 22px;
    margin-top: -11px;
    margin-left: -5px;
    background: url("../img/sprite/sp_section.png") rgba(0, 0, 0, 0) -50px -94px no-repeat
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2000
}
.modal__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    background-color: rgba(63, 69, 75, 0.8)
}
.modal__content {
    overflow: hidden;
    min-width: 90%;
    margin: auto 5%;
    border-radius: 5px
}
@media screen and(min-width: 768px) {
    .modal__content {
        width: 650px;
        min-width: auto
    }
}
.modal__title {
    height: 50px;
    padding: 0 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 50px;
    color: #fff
}
.modal__title:before {
    content: '';
    display: inline-block;
    width: 9px;
    height: 9px;
    margin-right: 5px;
    border-radius: 9px;
    background-color: #0996a5;
    vertical-align: middle
}
.modal__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #383e48
}
.modal__body {
    padding: 10px;
    background-color: #f6f6f6
}
.modal__body .section {
    margin-top: 0
}
.modal__footer {
    padding: 0 10px 10px;
    background-color: #f6f6f6;
    text-align: right
}
.modal__button--close {
    margin-right: 9px;
    width: 24px;
    height: 24px;
    background: url("../img/sprite/sp_section.png") rgba(0, 0, 0, 0) -104px -70px no-repeat
}
.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px 0;
    border-top: 1px solid #eee
}
.pagination__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
.pagination__item {
    margin-left: 5px;
    line-height: 23px;
    width: 25px;
    height: 25px
}
.pagination__item:first-child {
    margin-left: 0
}
.pagination .pagination__link--active,
.pagination .pagination__link:hover,
.pagination .pagination__link:focus {
    border-color: #0996a5;
    background-color: #0996a5;
    color: #fff
}
.pagination__link {
    display: block;
    border: 1px solid #eee;
    border-radius: 3px;
    background-color: #fff;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    color: #666
}
.pagination__link--first {
    width: 25px;
    height: 25px;
    background: url("../img/sprite/sp_section.png") #f8f8f8 -1px -1px no-repeat
}
.pagination__link--first:hover,
.pagination__link--first:focus {
    background-position-y: -36px
}
.pagination__link--prev {
    width: 25px;
    height: 25px;
    background: url("../img/sprite/sp_section.png") #f8f8f8 -36px -1px no-repeat
}
.pagination__link--prev:hover,
.pagination__link--prev:focus {
    background-position-y: -36px
}
.pagination__link--next {
    width: 25px;
    height: 25px;
    background: url("../img/sprite/sp_section.png") #f8f8f8 -71px -1px no-repeat
}
.pagination__link--next:hover,
.pagination__link--next:focus {
    background-position-y: -36px
}
.pagination__link--last {
    width: 25px;
    height: 25px;
    background: url("../img/sprite/sp_section.png") #f8f8f8 -106px -1px no-repeat
}
.pagination__link--last:hover,
.pagination__link--last:focus {
    background-position-y: -36px
}
table {
    position: relative
}
thead tr {
    border-bottom: 1px solid #ddd
}
tbody tr {
    border-bottom: 1px solid #eee
}
tr.ta-l th,
tr.ta-l td {
    text-align: left !important
}
tr.ta-r th,
tr.ta-r td {
    text-align: right !important
}
th,
td {
    font-size: 12px;
    color: #555;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}
th {
    padding: 8px 6px;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    background-color: #fbfbfb
}
th:nth-of-type(1) {
    border-left-width: 0
}
td > a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}
.table--row tr:last-child {
    border-bottom-width: 0
}
.table--row th,
.table--row td {
    text-align: left
}
.table--row th {
    padding-left: 10px
}
.table--row td {
    padding: 3px 5px;
    line-height: 2
}
.table--row td+td {
    padding: 3px 0
}
.table--column tbody tr:nth-last-of-type(1) {
    border-bottom-width: 0
}
.table--column tr:hover {
    background-color: #fcfcfc
}
.table--column th,
.table--column td {
    text-align: center
}
.table--column th:nth-last-of-type(1),
.table--column td:nth-last-of-type(1) {
    border-right-width: 0
}
.table--column th {
    font-weight: 600
}
.table--column td {
    padding: 8px 10px;
    border-right: 1px solid #eee
}
.table--column td .label__checkbox:before {
    margin-right: 0
}
.table--column .text-align--left {
    padding-right: 10px;
    padding-left: 10px
}
.table--column a {
    display: block
}
.table--column a:hover {
    text-decoration: underline
}
.table--view td {
    padding: 3px 10px
}
.ui-widget button,
.ui-widget input,
.ui-widget select,
.ui-widget textarea {
    font-family: "Nanum Gothic", sans-serif
}
.ui-widget-header .ui-icon {
    background-image: url("../img/lib/ui-icons_222222_256x240.png")
}
.ui-icon,
.ui-widget-content .ui-icon {
    background-image: url("../img/lib/ui-icons_222222_256x240.png")
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 4px
}
.ui-datepicker .ui-datepicker-prev {
    left: 4px
}
.ui-datepicker .ui-datepicker-prev:hover {
    top: 4px;
    left: 4px
}
.ui-datepicker .ui-datepicker-next {
    right: 4px
}
.ui-datepicker .ui-datepicker-nexthover {
    top: 4px;
    right: 4px
}
.ui-datepicker td span,
.ui-datepicker td a {
    padding: 6px
}
.ui-datepicker .ui-datepicker-title {
    font-size: 12px;
    color: #555
}
.ui-datepicker .ui-datepicker-title select {
    width: 40%;
    margin: 0;
    padding: 5px;
    font-size: 14px
}
.ui-datepicker .ui-datepicker-title .ui-datepicker-year {
    margin-right: 4px
}
.ui-datepicker .ui-datepicker-title .ui-datepicker-month {
    margin-left: 8px
}
.ui-datepicker-calendar tr {
    border-bottom-width: 0
}
.ui-datepicker-calendar th {
    padding: 10px;
    background: none
}
/*# sourceMappingURL=sub.css.map */