<!DOCTYPE HTML>
<html>
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <META http-equiv=refresh content="0;url=/monitor/dashView">

</head>
<body>
</body>
</html>
<!-- 
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
  <form action="login">
    <button>authorization Code</button>
  </form>
  <form action="callClient">
    <button>client</button>
  </form>
  <form action="callPassword">
    <button>password</button>
  </form>
</body>
</html> -->