<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data" layout:decorator="layout/main" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE">모니터링</title>
</head>
<body>
  <div class="container" layout:fragment="content">

    <h3 class="content__title">모니터링</h3>


    <input id="agent_id" name="agent_id" type="hidden" th:value="${result.agent_id}">

    <section class="section">
      <div class="section__header">
        <h4 class="section__title">Agent 상세정보</h4>
      </div>
      <div class="section__content">
        <table class="table--row table--view">
          <caption>테이블 제목</caption>
          <colgroup>
            <col style="width: 150px">
            <col style="width: auto">
            <col style="width: 150px">
            <col style="width: auto">
          </colgroup>
          <tbody>
            <tr>
              <th>Agent ID</th>
              <td th:text="${result.agent_id}"></td>
              <th>Agent 명</th>
              <td th:text="${result.agent_nm}"></td>
            </tr>
            <tr>
              <th>IP</th>
              <td><select class="select select--full" id="ip_addr" name="ip_addr" disabled>
                  <option value="IP001" th:selected="'IP001' == ${result.ip_addr}">192.168.1.101</option>
                  <option value="IP002" th:selected="'IP002' == ${result.ip_addr}">192.168.1.102</option>
                  <option value="IP003" th:selected="'IP003' == ${result.ip_addr}">192.168.1.103</option>
              </select></td>
              <th>Port</th>
              <td th:text="${result.port_number}"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="button__group">
        <!-- <button class="button__primary" type="button">수정</button><button class="button__secondary" type="button">목록</button> -->
      </div>
    </section>

    <form>
      <fieldset>
        <legend>필드셋 제목</legend>
        <section class="section">
          <div class="section__header">
            <h4 class="section__title">상세 목록</h4>
          </div>
          <div class="section__content">
            <table class="table--column" id="AdtFeedback">
              <caption>상세 목록</caption>
              <colgroup>
                <col style="width:60px">
                <col style="width:200px">
                <col style="width:*">
                <col style="width:120px">
                <col style="width:80px">
                <col style="width:80px">
                <col style="width:100px">
                <col style="width:100px">
                <col style="width:100px">
                <col style="width:100px">
                <col style="width:100px">
                <col style="width:100px">
              </colgroup>
              <thead>
                <tr>
                  <th>순번</th>
                  <th>Adaptor ID</th>
                  <th>Adaptor 명</th>
                  <th>어댑터 유형</th>
                  <th>인스턴스 수</th>
                  <th>상태</th>
                  <th>Messages<br>in / hour</th>
                  <th>Messages<br>out / hour</th>
                  <th>Bytes<br>in / hour</th>
                  <th>Bytes<br>out / hour</th>
                  <th>Failure Messages<br>/ hour</th>
                  <th>모니터링</th>
                </tr>
              </thead>
              <tbody>
                
              </tbody>
            </table>
            
          </div>
          <div class="button__group">

          </div>
        </section>
      </fieldset>
    </form>


    <div id="commTypeRow" style="display: none">
      <table>
        <tr>
          <td>1</td>
          <td style="text-decoration:underline;color:blue;cursor:pointer"><a>2</a></td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td><span id="Status_" ></span></td>
          <td>7</td>
          <td>8</td>
          <td>9</td>
          <td>10</td>
          <td>11</td>
          <td><span id="Monit_" style="display:none"><a href="#"><img src="/asset/images/mointering.png"></a></span></td>
        </tr>
      </table>
    </div>


<script>
$(document).ready(function() {
  //search();
});

function search() {
  cmUtl.showEmptyLine('AdtFeedback', true);
  var url = "/monitor/agent/adapter/" + $("#agent_id").val();
  var data = {'agent_id' : $("#agent_id").val() };
  cmUtl.exeAjax("POST", url,data, "_cbAfterAdt" );
}


function _cbAfterAdt(data){
  cmUtl.showEmptyLine('AdtFeedback', false);
  if (data.length == 0) {
    cmUtl.showEmptyLine('AdtFeedback', true);
  } else {

    for (var i = 0; i < data.length; i++) {
      var tmpObj = $("#commTypeRow").find("tr:first").clone();
      tmpObj.find(":eq(0)").html(i + 1);
      //tmpObj.find(":eq(1)").attr("onclick" , "mntIns('"+data[i].adapter_id+"')");
      tmpObj.find(":eq(1)").html(data[i].adapter_id );
      tmpObj.find(":eq(2)").html(data[i].adapter_nm);
      tmpObj.find(":eq(3)").html(data[i].adapter_type);
      tmpObj.find(":eq(4)").html(data[i].ins_cnt);
      tmpObj.find(":eq(5) > span").prop("id" , "Status_"+data[i].adapter_id );
      tmpObj.find(":eq(6)").html("0");
      tmpObj.find(":eq(7)").html("0");
      tmpObj.find(":eq(8)").html("0");
      tmpObj.find(":eq(9)").html("0");
      tmpObj.find(":eq(10)").html("0");
      tmpObj.find(":eq(11)").html("0");
      tmpObj.find(":eq(12) > span").prop("id" , "Monit_"+data[i].adapter_id );

      
      $('#AdtFeedback > tbody:last').append(tmpObj);
    }

    for (var i = 0; i < data.length; i++) {
      var adapter_id = data[i].adapter_id;
      var param = { "id" : adapter_id };
      cmUtl.exeAjax("POST", "/agent/status", JSON.stringify(param),  "_cbAfterStatus");  
    }
    
  }
}



function _cbAfterStatus(data){
  if (data.responseCode == "2000" ) 
  {
    $("#Status_" + data.id).html(data.status.toCapitalize());
    
    $("#Monit_" + data.id).show();
    $("#Monit_" + data.id + "> a ").attr("onclick", "popupLog('"+data.id+"','"+data.status+"')");
  } 
}

function mntIns(adt_id) {
  location.href = "/monitoring_instance/" + $("#agent_id").val() + "/" + adt_id;
}

function popupLog(adapter_id, status) {
  var url = "/popup/popupMonitorAdapter";
  var param = { "adapter_id":adapter_id,"status":status};
  cmUtl.openLayerPopup(url, param, "모니터링 로그팝업");
}

</script>

<script>setNavi("Agent","Adapter");</script>
</div>
</body>
</html>